#auto {
background:no-repeat;
width:250px;
height:150px;
padding: 10px;
border-radius: 25px;
border: 2px solid #868686;
display:inline-block;
margin-right:5px;
margin-top:5px;
overflow: hidden;
background-size: cover;
background-position: center;
}

#text {
margin-top:41%;
border-radius: 25px;
padding-left:10px;
background: rgba(255,255,255,0.9);
}

#autoDisplay {
    margin: auto;
        width: 80%;
}
